{% extends 'base.html.twig' %}

{% block body %}
    {{ form_start(form, { attr: { class: 'form', novalidate: true } }) }}
        {{ form_errors(form) }}

        {{ form_row(form.onefield) }}

        <button type="submit">
            {{ 'valid'|trans }}
        </button>
    {{ form_end(form) }}
{% endblock %}
